.root {
  display: flex;
  align-items: center;

  justify-content: center;
  width: 100%;
  gap: 10px;

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 48%;
  }

  &__mainContent {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__sortAndButtons {
    margin: 20px 0 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
  }

  &__sortBlock {
    &__select {
      width: 165px;
    }
    &__selectShowBy {
      margin-left: 10px;
      width: 100px;
    }
  }

  &__buttonsBlock {
    display: flex;
    gap: 10px;
  }
}

.filtersForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.pairedContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 145px;
}

.pairedItem {
  width: 135px;
}

.btn {
  margin: 0 auto;
}
