.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 10px 0 20px 0;
  background-color: #ffe8e8;
  color: red;
  border-radius: 10px;
  font-size: 14px;
}
