.root {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #1f1f1f;

  &__logo {
    padding: 10px;
    color: white;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace; // todo явно другой выбрать
  }

  &__buttonsBlock {
    display: flex;
    gap: 10px;
    margin: 10px;
  }
}
