.root {
  margin: -8px; // todo переделать кринж
  display: flex;
  flex-direction: column;
  font-size: 22px;

  &__header {
    height: 8dvh;
    width: 100%;
    z-index: 1151; // Чтобы выше селектов был хедер
  }

  &__container {
    height: 92dvh;
    display: flex;
    justify-content: center;

    &__sidebar {
      width: 18dvw;
      height: 100%;
      overflow-y: auto;
      border-right: 1px solid rgb(230, 230, 230);
    }

    &__mainContent {
      width: 82dvw;

      &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }

      &__routes {
        height: 100%;
        overflow-y: auto;
      }
    }
  }
}
